/* ----------------------Types of font------------------------------*/

@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

body{
  width:100%;
  margin: 0px auto;
}

/*-------------------------header-------------------------------*/

header{
  display:flex;;
  flex-wrap:wrap;
  justify-content:space-between;
  align-content:center;
  padding: 0 2%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#aloha{           
  max-width:120px;
  height:47px;
}

/*#div-cart {
  height:50px;
  display: flex;
  align-items: center;
}*/

#cart{
  height: auto;
  width: 50px;
}


header img, header nav{
  display: inline-block;
}


nav{
  padding-top:.5rem;
  margin-left:10px;
  margin-right:10px;
  border-top: 1px solid #d7d7d7;
  width:100%;
}


nav ul{
  padding-left:0px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  margin: 0;
  list-style: none;
}
nav li {
  padding:0 .5em;
  text-transform:uppercase;
  font-size:1rem;
}

nav a{
  text-decoration:none;
  color:#e2574c;
}

/*--------------------------herobanner----------------------------*/

.banner{
  background:
    linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)), 
    url(../images/banner-girl.png) bottom/10rem no-repeat ,
    url(../images/flower-bkgd.jpg) bottom/cover;
  height:30rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction:column;
}

.herobanner{
  width: 80%;
  margin: 0 auto;
  padding: 0 2%;
}

.herobanner h6,h2{
  font-family:'playfair_display',serif;
  font-weight: normal;
  color:#FFFAF0;
  text-align: center;
}

h6{
  font-size:1.25rem;
  text-transform:uppercase;
  margin-top:0;
  margin-bottom:0.75rem;
}

h2{
  margin:0;
  font-size:2.25rem;
}

/*------------------------About Aloha--------------------------*/

.handicap{
  text-align: center;
  width: 90%;
  margin: 0 auto;
  max-width: 720px;
}

.handicap h1{
  font-family:'playfair_display',serif;
  font-weight:normal;
  font-size:2.4rem;
  margin-bottom:1.5rem;
  margin-top:4rem;
}

.handicap p{
  font-family:'raleway',sans-serif;
  font-weight: normal;
  font-size:1.15rem;
  margin-bottom:4rem;
  line-height:1.25em;
}

.update h3{
  font-family:'playfair_display',serif;
  font-weight: normal;
}

/*----------------------Category of products---------------------*/

.category a{
  text-decoration:none;
}

.category li{
  text-transform:uppercase;
  box-sizing: border-box;
  border: 4px solid white;
}

.choice ul{
  list-style-type:none;
}

.choice{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between; 
  padding-left:0;
}

.choice a:hover{
  color: #b64036;
}

.men{
  background-image: url(../images/mens-category.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:300px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.men a{
  font-family:'playfair_display',serif;
  font-weight: normal;
  color:#FFFAF0;
  text-align:center;
  font-size:2rem;
}

.trends{
  background-image:url(../images/trends-category.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  text-align:center;
  height:300px;
  width:49%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.trends a{
  font-family:'playfair_display',serif;
  font-weight: normal;
  color:#FFFAF0;
  font-size:2rem;
}

.glasses{
  background-image:url(../images/glasses-category.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  text-align:center;
  height:300px;
  width:49%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.glasses a{
  font-family:'playfair_display',serif;
  font-weight: normal;
  color:#FFFAF0;
  text-align:center;
  font-size:2rem;
}

.sale{
  background-image:url(../images/sale-category.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  text-align:center;
  height:300px;
  width:49%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.sale a{
  font-family:'playfair_display',serif;
  font-weight: normal;
  color:#FFFAF0;
  text-align:center;
  font-size:2rem;
}

.bags{
  background-image:url(../images/bags-category.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom;
  text-align:center;
  height:300px;
  width:49%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.bags a{
  font-family:'playfair_display',serif;
  font-weight: normal;
  color:#FFFAF0;
  text-align:center;
  font-size:2rem;
}

.women{
  background-image:url(../images/womens-category.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:top;
  text-align:center;
  height:300px;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.women a{
  font-family:'playfair_display',serif;
  font-weight: normal;
  color:#FFFAF0;
  text-align:center;
  font-size:2rem;
}

/*-------------------Most Loved Products---------------------*/

.selection h3{
  font-family:'playfair_display',serif;
  font-weight: normal;
  font-size:2.5rem;
  text-align:center;
}

.selection h5{
  color:#e2574c;
  text-align:center;
  font-size:1.5rem;
  font-weight:bold;
  margin-top:1.75rem;
  margin-bottom:1.75rem;
}

.selection p{
  text-transform:uppercase;
  text-align:center;
  font-size:0.75rem;
}

.carousel li{
  list-style-type:none;
}

.gallery-cell{
  height:30rem;
  /*width:100%;*/
}

.flickity-page-dots{
  width: 90%;
}

/*---------------Updates from the company------------------*/
section.updates{
  background-image:url(../images/wave-bkgd.jpg);
  background-repeat:no-repeat;
  background-position:bottom;
  height:21rem;
  text-align: center;
  margin-bottom: 8px;
}

div.update{
  max-width: 720px;
  margin:0 auto;
}

.update h3,.update p{
  color:#FFFAF0;
}

.update h3{
  padding-top:2rem;
  margin-bottom:1rem;
  font-size:2.4rem;
}

.update p{
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  font-size:1.3rem;
  line-height: 1.8rem;
}

form{
  position: relative;
}

input[type="email"]{
  width: 80%;
  padding: 1rem 1.75rem;
  border: none;
  border-radius: 25px;
}

input[type="submit"]{
  background-color: #e2574c;
  color: #fff;
  font-size: 1rem;
  padding: .8rem 2.5rem;
  position: absolute;
  right: 2.5rem;
  border: 0;
  border-radius: 25px;
}


/*------------------------footer--------------------------*/

.container wrapper{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}


.info{
  padding:2.5rem 1.5rem 1.5rem 1.5rem;
}

.socialmedia ul{
  padding-left: 0;
  text-align: center;
}

.socialmedia li{
  display:inline-block;
}

.socialmedia i{
  color:#FFFAF0;
  min-width: 25px;
}

.socialmedia span{
  display:none;
}

footer{
  height:12rem;
  padding: 4rem 0;
  background-color:#242424;
  background-size:cover;
}

.info p:nth-child(1){
  color:#FFFAF0;
  text-align: center;
  margin:0;
}

.info p:nth-child(2){
  color:#FFFAF0;
  text-align: center;
  margin-top:0;
}

.info p:nth-child(3){
  color:#FFFAF0;
  text-align: center;
  margin-top:0;
}

.info p:nth-child(3) a{
  color:#FFFAF0;
  text-align: center;
}

.address p:nth-child(1){
  color:#969696;
  margin-top:1rem;
  margin-bottom:0;
}

.address p:nth-child(2){
  color:#969696;
  margin:0;

}

/*--------------------Desktop Version-------------------------*/
@media screen and (min-width:1240px){

header {
  align-items:center;
}

#div-cart{
  order:2;
  
}

nav{
  border-top:none;
  width:50%;
}

.men, .women{
  width:49%;
}

.trends, .glasses, .sale, .bags{
  width:25%;
}

.container wrapper{
  visibility:hidden; 
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}

.container {
  display:flex;
  align-items:center;
  justify-content: space-between;
}


.socialmedia{
  padding-left:20rem;
  margin-left:15rem;
}

.socialmedia span{
  display:inline;
}

.socialmedia ul{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.socialmedia li{
  margin-bottom: 1rem;
}
.socialmedia a{
  color:#FFFAF0;
}


}

/*--------------------Tablet Version-------------------------*/
@media screen and (min-width:600px){

header {
  align-items:center;
}

#div-cart{
  order:2;
}

nav{
  border-top:none;
  width:40%;
}

.men, .women{
  width:49%;
}

.trends, .glasses, .sale, .bags{
  width:25%;
}

.container wrapper{
  visibility:hidden; 
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}

.container {
  display:flex;
  align-items:center;
  justify-content: space-between;
}


/*.socialmedia{
  padding-left:20rem;
  margin-left:15rem;
}*/

.socialmedia span{
  display:inline;
}

.socialmedia ul{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.socialmedia li{
  margin-bottom: 1rem;
}
.socialmedia a{
  color:#FFFAF0;
}


}