body{
  margin: 0px auto;
}

header{
  height:125px;
  width:1240px;
}

#aloha{
  width:200px;
  height:125px;
  float:left;
}

#cart{
  width:100px;
  height:125px;
  float:right;
}

header img, header nav{
  display: inline-block;
}

header nav{
  font-size:20px;
  position:relative;
  bottom:50px;
  left:400px;
  height:125px;
}

nav li {
  display: inline;
}

.container{
  width:1240px;
  margin:0px;
}

.herobanner{
  background-image:url(../Project_1/project-01/images/flower-bkgd.jpg);
  background-size:cover;
  background-attachment:scroll;
  height:400px;
  width:1240px;
  text-align: center;
}

.handicap{
   text-align: center;
}

.herobanner h2{
  font-size:32;
}

h6{
  margin:0px;
}